*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 330px 135px;
}


.container ul {
    display: flex; 
}

.container ul li {
    margin-left: 20px;
}

.first-part {
    background-color: #1F2937;
}

.container div h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container div p {
    color: #E5E7EB;
}

button-white-border,
button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    border: none;
}

.container div h1,
.container div p {
    width: 460px; 
}

.container div p {
    margin-bottom: 10px;
}

.second-part {
    height: 430px;
}

.second-part h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.sec-imgs p {
    color: #1F2937;
    font-size: 15px;
    width: 160px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

.sec-imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sec-imgs img{
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
}

.third-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 70px 375px 50px 375px;
    background-color: #E5E7EB;
}

.third-part p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.third-part h3 {
    align-self: flex-end;
}

.fourth-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 255px 140px 255px;
}

.action-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6; 
    border-radius: 10px;
    height: 150px;
    width: 1120px;
    padding: 30px 120px;
}

.action-text h3 {
    color: #F9FAF8; 
}

.action-text p {
    color: #E5E7EB;
}

.button-white-border {
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
}

.footer p {
    color: #E5E7EB;
}
